# Prerequisites
*.d
*.ioc
*.txt
*.axf

# MDK-ARM specific files
*.uvprojx
*.uvoptx

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch
*.ioc
# Libraries
*.lib
*.a
*.la
*.lo
*.uvoptx
*.json
*.lock
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.s
*.hex
# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.log
*.dis
*.uvprojx

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#GCC & vscode
/.vscode
/build
/Middlewares
/Drivers


# Keil Clean
*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
 
RTE/
Templates/
Examples/
 

#JLINK file
JLinkLog.txt
*.dbgconf




